<div class="brewery-page-header">
    </div>

    <div class="brewery-container">
        <div class="single-brewery-container">
    <li>
        <div class="brewery-container"></div>
        {{#each this}}
            <div class="card w-90">
                <div class="card-body">
                    <h5 class="card-title">{{brewery_name}}</h5>
                    <p class="card-text">{{address}}</p>
                    <p class="card-text">{{city}}</p>
                    <p class="card-text">{{postal_code}}</p>
                </div>
            </div>
            {{/each}}
    </li>
        </div>
        <div class="comments-container">
            <h1>comments</h1>
            <li>
                {{#each this}}
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{user_name}}</h5>
                        </div>
                        <p class="mb-1">{{comment}}</p>
                        <p class="mb-1">{{rating}}</p>
                    </a>
                </div>
        {{/each}}
            </li>
    </div>
